<div class="jumbotron">
  <h1>Home page</h1>
  <p>Hello World!</p>
  <%= link_to "About me", home_about_path, class: 'btn btn-info' %>
  <%= link_to "Home", root_path, class: 'btn btn-success' %>
</div>